@import url("https://fonts.cdnfonts.com/css/built-titling");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  font-family: 'Built Titling';
}

video {
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .link {
  margin-right: 40px;
}

nav .link ul {
  display: inline-block;
  margin: 0 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  font-size: x-large;
  letter-spacing: 2px;
  padding: 5px;
  border-radius: 5px;
}

nav .link ul:hover {
  cursor: pointer;
}

nav .shy-logo {
  padding: 10px;
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
}

nav .shy-logo img {
  border-radius: 10px;
  width: 50px;
  opacity: 0.7;
  -webkit-filter: sepia(0.6);
          filter: sepia(0.6);
}

nav .shy-logo img:hover {
  opacity: 1;
  -webkit-filter: sepia(0);
          filter: sepia(0);
}

.main-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
}

.main-home .heading-img {
  text-align: center;
}

.main-home .heading-img img {
  width: 60%;
}

.main-home .heading-img #title1 {
  -webkit-animation: fadeIn 4s ease-in;
          animation: fadeIn 4s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-home .heading-img p {
  color: white;
  letter-spacing: 4px;
  font-size: 3em;
  -webkit-animation: fadeIn2 3s ease-in;
          animation: fadeIn2 3s ease-in;
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-home .heading-img p span {
  color: #841c1c;
}

.main-home .credit {
  text-align: center;
  color: white;
  -webkit-animation: Scaler3 4s ease;
          animation: Scaler3 4s ease;
}

.main-home .credit p {
  letter-spacing: 4px;
  font-size: large;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-home .credit p span {
  font-size: medium;
  font-weight: bold;
  color: #626161;
}

.main-home .credit .sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-home .credit .sponsor img {
  background-color: aliceblue;
  border-radius: 3px;
  height: 100%;
  margin: 0 10px;
}

.main-home .credit .sponsor img:first-child {
  background-color: #8a8484;
}

.main-info {
  display: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  width: 90vw;
}

.main-info .poster {
  margin-top: 10px;
}

.main-info .poster img {
  border-radius: 16px;
  width: 50%;
  padding: 5px;
}

.main-info .plot {
  letter-spacing: 2px;
  font-size: large;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.main-info .plot p {
  padding: 5px;
  margin: 0 auto;
  font-size: 2em;
}

.main-info .plot span {
  font-weight: bold;
  font-size: 2em;
}

.main-cc {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  width: 90%;
  display: none;
  color: white;
  text-align: center;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 5px;
}

.footer p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #d4d4d4;
  text-align: center;
  font-size: small;
}

@media (max-width: 700px) {
  nav .link {
    margin-right: 4px;
  }
  nav .link ul {
    margin: 0 6px;
  }
  nav .shy-logo {
    padding: 5px;
  }
  nav .shy-logo img {
    border-radius: 5px;
    width: 30px;
  }
  .main-home {
    height: 80vh;
  }
  .main-home .heading-img {
    padding: 80px 0;
  }
  .main-home .heading-img img {
    width: 100%;
  }
  .main-home .credit p {
    letter-spacing: 1px;
    font-size: small;
  }
  .main-home .credit p span {
    font-size: smaller;
  }
  .main-info {
    padding: 4px;
  }
  .main-info .poster img {
    border-radius: 10px;
    width: 80%;
    padding: 4px;
  }
  .main-info .plot {
    letter-spacing: 1px;
  }
  .main-info .plot p {
    text-align: justify;
    font-size: 1.5em;
  }
  .main-info .plot span {
    margin: 0 auto;
    font-size: 1.5em;
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
  .shy-logo {
    padding: 5px;
  }
  .shy-logo img {
    border-radius: 5px;
    width: 30px;
  }
  .main-home {
    height: 80vh;
  }
  .main-home .heading-img {
    padding: 80px 0;
  }
  .main-home .heading-img img {
    width: 80%;
  }
  .main-home .credit p {
    letter-spacing: 2px;
    font-size: medium;
  }
  .main-home .credit p span {
    font-size: small;
  }
  .main-info {
    padding: 4px;
  }
  .main-info .poster img {
    border-radius: 10px;
    width: 80%;
    padding: 4px;
  }
  .main-info .plot {
    letter-spacing: 1px;
  }
  .main-info .plot p {
    text-align: justify;
    font-size: 2em;
  }
  .main-info .plot span {
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: 0px;
  }
}
/*# sourceMappingURL=style.css.map */