@import url('https://fonts.cdnfonts.com/css/built-titling');
@mixin background-glass {
  background: rgba(248, 247, 247, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.03);

  // background: rgba(255, 255, 255, 0.06);
  // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  // backdrop-filter: blur(6px);
  // -webkit-backdrop-filter: blur(6px);
  // border: 1px solid rgba(255, 255, 255, 0.03);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(26, 26, 26);
  font-family: 'Built Titling';
}

video{ 
  min-width: 100%;
  position: fixed;
  top:0;
  z-index: -999;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}
nav {
  // border: 1px dotted red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .link{
    // border: 1px solid blue;
    // display: flex;
    // justify-content: space-between;
    // width: 10%;
    margin-right: 40px;
    ul {
      display: inline-block;
      margin: 0 20px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: rgb(255, 255, 255);
      // border: 1px dotted green;
      font-size: x-large;
      letter-spacing: 2px;
      padding: 5px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
    }

  }
}

.shy-logo {
  padding: 4px;
  animation: fadeIn 2s ease-in;
  // border: 2px solid blue;
  position: absolute;
  top: 0;
  left: 0;
  img {
    border-radius: 5px;
    width: 40px;
    opacity: 0.8;
    filter: sepia(0.6);
  }
}
.main-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .heading-img {
    text-align: center;
    margin-top: 40px;
    // border: 2px solid green;
    img{
      width: 60%;
    }
    #title1 {
      animation: fadeIn 4s ease-in;
      @keyframes fadeIn {   
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    p{
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      color: white;
      letter-spacing: 4px;
      font-size: 3em;
      animation: fadeIn2 3s ease-in;
      @keyframes fadeIn2 {
        0% {
          opacity: 0;
        }
        80%{
          opacity: 0;
        }
        100%{
          opacity: 1;
        }
      }
      span {
        color: rgb(132, 28, 28);
        text-shadow: none;
      }
    }
    // #title2 {
    //   position: relative;
    //   top: -150;
    //   transform: scale(0.8);
    //   animation: fadeIn2 6s ease-in;
    //   @keyframes fadeIn2 {   
    //     0% {
    //       opacity: 0;
    //     }
    //     100% {
    //       opacity: 1;
    //     }
    //   }
    // }
  }
  
  .credit {
    text-align: center;
    color: white;
    // font-family: 'Built Titling';
    // border: 2px dotted red;
    p{
      letter-spacing: 4px;
      font-size: large;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      span{
        font-size: medium;
        font-weight: bold;
        color: rgb(98, 97, 97);
      }
    }
    animation: Scaler3 4s ease;
    // @keyframes Scaler3 {
    //   0% {
    //     opacity: 0; 
    //   }
    //   50%{
    //     opacity: 0; transform: scale(0.7);
    //   }
    //   100% {
    //     opacity: 1; transform: scale(1);
    //   }
    // }

    .sponsor {
      // border: 2px solid red;
      display: flex;
      margin-top: 20px;
      margin-bottom: 10px;
      height: 35px;
      justify-content: center;
      // animation: Scaler3 5s ease;
      img{
        // object-fit: contain;
        background-color: aliceblue;
        border-radius: 3px;
        height: 100%;

        margin: 0 10px;
      }
      img:first-child {
        background-color: #8a8484;
      }
    }
  }

}

.second-section {
  @include background-glass;
  margin: 20px 0;
  text-align: center;
  #youtube {
    h1{
      letter-spacing: 4px;
      margin: 40px 0;
      color: white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    iframe {
      margin-bottom: 80px;
      border-radius: 5px;
      width: 60%;
      height: 60%; 
    }
  }
}

  .overview {
    @include background-glass;
    margin-top: 500px;
    .container {
      display: flex;
      // border: 2px dotted red;
      #plot-cast{
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;
        width: 50vw;
        #plot{
          margin: 20px auto;
          width: 90%;
          h1 {
            letter-spacing: 4px;
            margin: 20px auto;
            text-align: center;
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
          }
          p{
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            letter-spacing: 2px;
            text-align: justify;
            font-size: 2em;
          }
        }
        #cast {
          margin: 20px auto;
          display: flex;
          .crew-list {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            div {
              text-align: center;
              padding: 10px;
              margin: 10px;
              color: white;
              text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
              letter-spacing: 2px;
              span{
                font-size: 2em;
                color: rgb(98, 97, 97);
              }
              p {
                padding: 5px;
                font-size: 1.5em;
              }
            }
          }
        }
      }
      #movieposter{
        margin: 40px 0;
        text-align: center;
        width: 50vw;
        // border: 2px solid green;
        img {
          width: 90%;
          
        }
      }
    }
  }



.main-info {
  display: none;
  text-align: center;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  margin: 0 auto;
  // display: flex;
  // justify-content: space-around;
  align-items: center;
  padding: 40px;
  width: 90vw;
  .poster {
    margin-top: 10px;
    // border: 2px dotted green;
    // text-align: center;
    img {
      // background: rgba(255, 255, 255, 0.06);
      border-radius: 16px;
      // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      // backdrop-filter: blur(2.1px);
      // -webkit-backdrop-filter: blur(2.1px);
      // border: 1px solid rgba(255, 255, 255, 0.03);
      width: 50%;
      padding: 5px;
    }
  }
  .plot {
    // background: rgba(255, 255, 255, 0.06);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(2.1px);
    // -webkit-backdrop-filter: blur(2.1px);
    // border: 1px solid rgba(255, 255, 255, 0.03);
    // border: 2px dotted green;
    letter-spacing: 2px;
    font-size: large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    // border: 2px dotted blue;
    // text-align: center;
    p{
      padding: 5px;
      margin: 0 auto;
      font-size: 2em;
    }
    span{
      font-weight: bold;
      font-size: 2em;
      // color: #787474;
    }
  }
}

.main-cc {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  width: 90%;
  display: none;
  color: white;
  text-align: center;
}


.footer {
  padding: 10px;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: rgb(212, 212, 212);
    font-size: 15px;
    margin: 0 20px;
    a {
      margin: 0 6px;
      color: white;
    }    
  }
  img{
    width: 40px;
    margin: 0 6px;
  }
}

@media (max-width: 700px) {
  nav {
    .link{
      margin-right: 4px;
      ul {
        margin: 0 6px;
      }
    }
    .shy-logo {
      padding: 5px;
      img {
        border-radius: 5px;
        width: 30px;
      }
    }
  }
  .main-home{
    height: 80vh;
    .heading-img {
      padding: 80px 0;
      img{
        width: 100%;
      }
    }
    .credit {
      p{
        letter-spacing: 1px;
        font-size: small;
        span{
          font-size: smaller;
        }
      }
    }
  }
  .main-info {
    padding: 4px;
    .poster {
      img {
        border-radius: 10px;
        width: 80%;
        padding: 4px;
      }
    }
    .plot {
      letter-spacing: 1px;
      p{
        text-align: justify;
        font-size: 1.5em;
      }
      span{
        margin: 0 auto;
        font-size: 1.5em;
      }
    }
  }
}

@media (max-width: 1000px) and (min-width: 700px) {
    .shy-logo {
      padding: 5px;
      img {
        border-radius: 5px;
        width: 30px;
      }
    }
  .main-home{
    height: 80vh;
    .heading-img {
      padding: 80px 0;
      img{
        width: 80%;
      }
    }
    .credit {
      p{
        letter-spacing: 2px;
        font-size: medium;
        span{
          font-size: small;
        }
      }
    }
  }
  .main-info {
    padding: 4px;
    .poster {
      img {
        border-radius: 10px;
        width: 80%;
        padding: 4px;
      }
    }
    .plot {
      letter-spacing: 1px;
      p{
        text-align: justify;
        font-size: 2em;
      }
      span{
        margin: 0 auto;
        font-size: 2em;
        letter-spacing: 0px;
      }
    }
  }
}
